<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frogsquare.firebaseauth">

    <application>

        <meta-data
            android:name="org.godotengine.plugin.v1.GDFirebaseAuth"
            android:value="com.frogsquare.firebaseauth.GDFirebaseAuth" />

    </application>

</manifest>